*{
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

h1{
    font-size: 45px;
    background-image: linear-gradient(to right, rgb(37,62,143),rgb(189,161,69));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'coolvetica';
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    top: 30%;
    left: 17%;
    transform: translate(-50%,-50%);
    
   }

.background{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(background.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

.formbox{
    width: 100%;
    max-width: 500px;
    position:inherit;
    top: 45%;
    left: 15%;
    transform: translate(-50%,-50%);
    background: transparent;
    padding: 50px 60px 70px;
    margin-left: 8px;
    align-items: center;


}

.input-field {
    margin: 31 px auto;
    width: 400px;
    height: 35px;
    text-align: center;
    border-bottom: 2px solid rgb(37,62,143);
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  .input-field input{
    width: 90%;
    background:transparent;
    color: rgb(37,62,143);
    font-family: 'coolvetica';
    font-size: 19px;
    position: flex;
    border: none;
    outline: none;
    margin-left: 10px;
  }
  .btn{
    margin: 40px auto 20px;
    width:80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(to right, rgb(37,62,143),rgb(189,161,69));
    font-size: 22px;
    font-family: 'trojan pro';
    font-weight: bolder;
    border-radius: 10px;


  }
  ::placeholder{
    color: rgb(57, 57, 57);
  }

 .fa{
    margin-right: 10px;
 }

 .eye{
    position: absolute;
 }

 #hide1{
    display: none;
 }
